<%- include("header") %>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="/images/about_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>Our Mission</h5>
                        <p> 
                            Hello and Welcome to E-chopper. It is an online shopping website designed by <strong>mCode WebDev.</strong> 
                            We aim to offer our customers responsive website development. 
                            
                            <br>

                            No part of this website should be reproduced, re-distributed and/or captured in any form
                            without the permission of the developer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->

    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="/images/admin1.png" alt="#">
                            </div>
                            <p>"Full stack web developer with Nodejs, MongoDB and Express."</p>
                            <h5>- mCode </h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="/images/admin2.png" alt="#">
                            </div>
                            <p>"Front-end web developer"</p>
                            <h5>- Ofuase Anthony </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

<%- include("footer") %>