<br><br>

<footer>
    <div class="row">
        <div class="container">
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="footer-copy-right">
                    <p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | E-chopper
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="footer-copy-right f-right">
                    <!-- social -->
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/js/main.js"></script>


<!-- All JS Custom Plugins Link Here here -->
<script src="/js/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/js//vendor/jquery-1.12.4.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/js/owl.carousel.min.js"></script>
<script src="/js/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/js/wow.min.js"></script>
<script src="/js/js/animated.headline.js"></script>
<script src="/js/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/js/jquery.scrollUp.min.js"></script>
<script src="/js/js/jquery.nice-select.min.js"></script>
<script src="/js/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/js/contact.js"></script>
<script src="/js/js/jquery.form.js"></script>
<script src="/js/js/jquery.validate.min.js"></script>
<script src="/js/js/mail-script.js"></script>
<script src="/js/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/js/js/plugins.js"></script>
<script src="/js/js/main.js"></script>

</body>
</html>